@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(to top, #00dbde8F, #fc00ff8F);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aplikacija {
  display: flex;
  margin: 5px;

  flex-direction: column;
  align-items: center;
}

.labela {
  font-size: small;
  font-weight: bold;
}

.copyFooter {
  padding: 5px;
  background-color: lightblue;
  margin-top: 16px;
  text-align: center;
  font-size: xx-small;
  font-weight: bold;
  text-shadow: 0.3px 0.3px darkgreen;
}

.paddedDiv {
  padding: 10px;
}

.pitanje {
  color: red;
  font-weight: bold;
  text-shadow: 0.5px 0.5px black;
}

.naslov {
  font-family: 'Anton', sans-serif;

  font-size: 30pt;
  text-align: center;

  letter-spacing: 1px;

  margin: 10px;

  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  transform: skew(-20deg);

  width: 100%;
}

.vremena {
  margin-top: 20px;
  width: 100%;
}